
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

@mixin transitionAll() {
    transition: all .3s ease-out;
  }

:root{
    --color-primary: #7380ec;
    --color-header: #283C3E;
    --color-menu: #475859;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #0A2123;
    --color-background-hover: #c4c0c0;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}

*{
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: raleway, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

small{
    font-size: 0.75rem;
}

p{
    color: var(--color-dark-variant);
}

.primary{
    color: var(--color-primary);
}

/* Top Section*/
.top{
    display: flex;
    background-color: var(--color-header);
    padding: 16px;
}

.logo{
    display: flex;
    width: 250px;
    height: auto;
}




/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: relative;
    z-index: 1; /* Stay on top */
    background-color: var(--color-menu); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    padding: 8px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  .main-container{
    display: flex;
    flex: auto;
    flex-direction: row;
    height: 100vh;
  }

  #iframe{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .content{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 2px solid var(--color-background);
    border-radius: 10px;
    overflow: hidden;
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .material-symbols-outlined{
    font-size: 16px;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--color-background);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: var(--color-background-hover);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    width: 100%;
    height: 95%;
    margin-bottom: 24px;
    padding-bottom: 0%;
  }
  



  /* On smaller screens, where height is less than 450px*/
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    background-color: var(--color-header);
    padding: 16px;
  }

  .copyright{
    color: white;
  }
